[Desktop Entry]
Type=Application
Name=qikfox3D
Exec=qikfox3D
Comment=Client for virtual worlds
Icon=firestorm_icon
Categories=Development;
Terminal=true
